body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.6;
    text-align: justify;
    margin: 0;
    padding: 0;
    background-color: #f9fbfd; /* Light blue background for the body */
    color: #333333; /* Dark grey text color */
}

header {
    background: #f1f1f1; /* Soft light grey background */
    color: #333; /* Dark grey text */
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #2c3e50;
    text-align: center; /* Center-align the navigation menu */
}

nav ul li {
    display: inline-block; /* Use inline-block to display tabs horizontally */
    margin-right: 10px; /* Add spacing between tabs */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; /* Increase padding for better clickable area */
    display: block; /* Ensure the link fills the entire li */
}

nav ul li a.active, nav ul li a:hover {
    background: #8ac6d1;
    border-radius: 5px;
}
main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.supervisor-link {
    color: #0077cc; /* Your desired color */
    text-decoration: none; /* Removes the underline */
}

.supervisor-link:hover {
    color: #005f99; /* Darker shade for hover */
    text-decoration: none; /* Ensures underline doesn't appear on hover */
}

.education-row, .experience-row, .publication-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
}

.education-row:nth-child(even), .experience-row:nth-child(even), .publication-list li:nth-child(even) {
    background-color: #e0e0e0;
}

.section-heading-box {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}

h3 {
    margin-top: 10px;
}

html {
    scroll-behavior: smooth;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    scroll-margin-top: 10px;
}
